<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>practice3</title>
</head>
<body>
    <p th:text="'이름:' + ${name} "></p>
    <p th:text="'나이:' + ${age} "></p>
    <p th:text="'성별:' + ${gender} "></p>
    <p th:text="'년도:' + ${year} "></p>
    <p th:text="'월:' + ${month} "></p>
    <p th:text="'일:' + ${day} "></p>
    <p th:text="'여행:' + ${trip} "></p>
    <p th:text="'패션:' + ${fassion} "></p>
    <p th:text="'음식:' + ${food} "></p>
</body>
</html>